*{
    margin: 0;
    box-sizing: border-box;
}
/* inizio header */
body{
    font-family: 'Roboto',sans-serif;
}
header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: .5rem;
    padding-left: 0.5rem;
    width: 100%;
    background-color: #0084fd;
}
nav{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
}
nav  .icone{
    color: #ffff;
    
}
nav .row{
    display: none;
}
.nav-menu{
    list-style-type: none;
    display: none;
}
.nav-menu a{
    text-decoration: none;
    padding: 15px 10px 15px 10px;
}
.nav-menu a:hover{
    background-color: rgb(219, 231, 231);
}
.nav-btn{
    display: none;
    border: 0;
    border-radius: 10px;
    padding: 4px;
    padding-bottom: 2px;
    background-color: #ffff;
}
/* inizio main */
section{
    padding-top: 40px;
    padding-bottom: 40px;
}
.colored{
    background-color: #9792e4;
}
.container{
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
}

/* contenitore per usare le colonne e non il container principale */
.row{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black
}
.row-about{
    justify-content: center;
    
}
.col{
    flex-grow: 1;
    flex-basis: 100%;
    border:  2px solid green;
}

.nav-about{
    display: flex;
}
.row-about .nav-btn{
    display: inline-block;
    padding: 0.9rem 5rem .9rem 5rem;
    border-radius: 30px;
}
.row-about .col-media{
    text-align: center;
}
.nav-about{
    padding: 0;
}
.nav-about a{
    padding: 4px 5px 5px 5px;
}

.immagine{
    height: 300px;
}
.img-plan{
    height: 400px;
}
.icone{
    font-size: 4rem;
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    background-color: #b5ddff;
    
}
.card-small{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #b5ddff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-small h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.button-card{
    background-color: #0084fd;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 0;
    border-radius: 25px;
}
.planning{
    background-color: #9792e4;
    align-items: flex-start;
    row-gap: 2rem;
    color: white;
}
.planning h2{
    padding-top: 1rem;
}
.planning-2{
    background-color: white;
    padding-bottom: 1.5rem;
    border-radius: 30px;
}
.planning-2 button{
    background-color: #9792e4;
    border: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.testimonials{
    background-color: #9792e4;
    flex-direction: row;
}
.container-card img{
    width: auto;
    height: 100%;
    margin-left: -80px;
    border-radius: 50%;
}
.container-card{
    border: 1px solid;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
/* @media screen and (min-width: 576px){
    .container-m{
        max-width: 500px;
    }
    .col-m{
        flex-basis: 65%;
        border: 2px solid yellow;
    }
    .col-sm{
        flex-basis: calc(100% / 3);
        border: 2px solid blue;
        }
} */
.container> .row{
    gap: 10px;
}
.testimonial{
    background-color: white;
    border-radius: 0;
    gap: 1rem;
}
.testimonial h2{
    color: #9792e4;
    
}
.col-testimonial{
    flex-basis: calc((100% / 3));
}

.row.row-benefit{
    flex-wrap: wrap;
    column-gap: 16px;
    
}
/* .row.row-benefit .col-sm{
    padding-left: 15px;
} */
.card-benefit h3{
    font-size: 3rem;
}
.card-benefit h4{
    font-size: 1.5rem;
}
.card-benefit h3,h4{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #9792e4;
}
.btn-viola{
    background-color: #9792e4;
    color: white;
    border: 0;
    border-radius: 15px;
}
.card-benefit{
    padding-bottom: 2rem;
    padding-top: 1rem;
    padding-left: 1.5rem;
    background-color: white;
    border-radius: 25px;
}
.card-benefit p{
    padding-top: 0.7rem;
    padding-bottom: 2.5rem;
}
.card-benefit .btn-viola{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.colored-2{
    background-color: #9792e4;
}
/* Sezione About Us */
.container-About-us >.row{
    gap: 40px;
}
.card-aubout-us h2{
    font-size: 3rem;
    color: #9792e4;
}
.card-aubout-us p{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card-abouts-immg{
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
}
.card-abouts-immg img{ 
    align-self: flex-start;
    height: 100px;
    border-radius: 50%;
}
/* About us testimonials con immagine */

@media screen and (min-width: 768px){
    .container{
        border: 2px solid #0084fd;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        max-width: 720px;
    }
    .col-sm{
        flex-basis: calc((100% / 3) - 10px);
        border: 2px solid blue;
        }
    .row.row-benefit .col-sm{
        flex-basis: calc(((100% / 2) - 50px));
        flex-grow: 1;
        border:  2px solid #b5ddff;
    }
    .col-2-3{
        flex-basis: calc(((100% / 3) * 2) - 10px);
        border: 2px solid red;
    }
    .col-media{
        flex-basis: 50%;
    }
    .first{
        border-radius: 0;
    }
    .container-About-us .col-media{
        flex-basis: calc((100% / 3) - 15px);
    }

}   
@media screen and (min-width: 992px){ 
    nav .row{
        display: flex;
    }
    .nav-menu{
        display: flex;
    }
    nav .icone{
        display: none ;
    }
    .nav-btn{
        display: inline-block;
    }
    .container{
        border:2px dashed #9792e4;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 950px;
    }
    .col-sm{
        flex-basis: calc((100% / 3) - 10px);
        border: 2px solid blue;
    }
    .container-About-us{
        border: 2px solid blue;
        max-width: 760px;
    }
    .first{
        flex-basis: 0;
    }
    .colored  .row{
        flex-wrap: nowrap;
    }
    .planning p{
        margin-bottom: -50%;
    }
    .planning-2-dekstop{
        margin-top: 50%;
    }
    .row.row-benefit .col-sm{
        flex-basis: calc(((100% / 3) - 50px));
        flex-grow: 1;
        border:  2px solid #b5ddff;
    }
}